@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");

.tac-one-regular {
  text-align: start;
  transition-property: opacity, transform;
  font-family: "Tac_One variant0", Tofu;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-optical-sizing: auto;
  line-height: initial;
  font-size: 120px;
}

body {
  background-image: url("/assets/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
